@media (min-width: 960px) {
    :root {
        --large-font: calc(1.2 * 2.8rem);
        --medium-font: calc(1.2 * 1.6rem);
        --small-font: calc(1.2 * 1.4rem);
        --body-font: 1.2rem;

        --large-whitespace: calc(1.2 * 2.8rem);
        --medium-whitespace: calc(1.2 * 1.4rem);
        --small-whitespace: calc(1.2 * 1rem);
    }

    main {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    #page-control{
        visibility: hidden;
    }
}
