@media (min-width: 320px) {
    :root {
        --large-font: 3.6rem;
        --medium-font: 2.8rem;
        --small-font: 1.4rem;
        --body-font: 1.8rem;

        --large-whitespace: calc(1 * 2.8rem);
        --medium-whitespace: calc(1 * 1.4rem);
        --small-whitespace: calc(1 * 1rem);
    }

    html, body {
        overflow-x: hidden;
    }

    p {
        line-height: 1.5;
    }

    /* Navbar */
    nav {
        padding: var(--small-whitespace);
        margin-top: var(--small-whitespace);
        margin-bottom: var(--small-whitespace);
    }

    /* Main */
    main {
        padding: var(--small-whitespace);
        min-height: calc(100% - (4 * var(--large-font)));

        section {
            margin-bottom: var(--large-whitespace);
        }

        ul {
            padding: var(--small-whitespace);

            li {
                border-left-style: solid;
                padding-left: var(--small-whitespace);
                margin-bottom: var(--medium-whitespace);
            }

            li:hover {
                background-color: light-dark(var(--light-lighter-gray), var(--dark-lighter-gray));
            }
        }
    }

    /* Footer */
    footer {
        width: 100%;
        padding: var(--small-whitespace);

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        div {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            a {
                margin-left: var(--small-whitespace);
            }
        }

        .icon {
            min-height: var(--medium-font);
            max-height: calc(var(--large-font));
        }

        #github {
            filter: invert(30%) saturate(0%);
        }

        #linkedin {
            filter: invert(30%) saturate(0%);
        }
    }
}
