/* Responsive Handling */
@media (min-width: 320px) {
  :root {
    --large-font: calc(1 * 2.8rem);
    --medium-font: calc(1 * 1.4rem);
    --small-font: calc(1 * 1.2rem);

    --large-whitespace: calc(1 * 2.8rem);
    --medium-whitespace: calc(1 * 1.4rem);
    --small-whitespace: calc(1 * 1rem);
  }

  h1 {
      margin-bottom: var(--large-whitespace);
  }

  body {
    padding: 0 5vw;
  }

  .post-body {
    display: block;
  }
}

@media (min-width: 768px) {
  /* .post-body {
    display: grid;
    grid-template-columns: 0fr 4fr;
    gap: var(--medium-whitespace);
    place-items: center;
  }
  .post-img {
    height: 100%;
    width: 100%;
  } */
}

@media (min-width: 1024px) {
  body {
    padding: 0 15%;
  }
}

@media (min-width: 1280px) {
  body {
    padding: 0 25%;
  }
}

@media (min-width: 1536px) {
  body {
    padding: 0 25%;
  }
}
