/* Blog Posts */

section {
  margin: var(--large-whitespace) 0;
}

article{
  padding: var(--medium-whitespace);
}
article:hover{
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
}

.post-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--medium-whitespace);
}
.post-header-right {
  display: flex;
  margin-left: auto;
}

.post-body {
  margin: 1rem 0;
}

/* Socials */

.horizontal-sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--medium-whitespace);
  grid-auto-rows: minmax(100px, auto);
}
.horizontal-section {
  display: grid;
  place-items: center;
}

.icon {
  max-height: 8rem;
}

#github {
  filter: invert(30%);
}
#github:hover {
  filter: invert(60%);
}
#twitter {
  filter: invert(48%) sepia(93%) saturate(1175%) hue-rotate(175deg) brightness(95%) contrast(100%);
}
#twitter:hover {
  filter: invert(70%) sepia(93%) saturate(1175%) hue-rotate(175deg) brightness(95%) contrast(100%);
}

#linkedin {
  filter: invert(25%) sepia(98%) saturate(1747%) hue-rotate(179deg) brightness(95%) contrast(106%);
}
#linkedin:hover {
  filter: invert(70%) sepia(93%) saturate(1175%) hue-rotate(175deg) brightness(95%) contrast(100%);
}
