@media (min-width: 740px) {
    :root {
        --large-font: 3.6rem;
        --medium-font: 2.8rem;
        --small-font: 1.4rem;
        --body-font: 1.4rem;

        --large-whitespace: calc(1.1 * 2.8rem);
        --medium-whitespace: calc(1.1 * 1.4rem);
        --small-whitespace: calc(1.1 * 1rem);
    }
}
